@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body{
    font-family: "Sora", serif;
}

ul > li{
    padding: 0 15px;
}

.products{
    max-width: 275px;
    max-height: 118px;
    background-color: white;
    display: flex;
    gap: 10px;
    border-radius: 15px;
    padding: 15px 25px;
}

.large-product{
    background-image: url(/assets/vegetable-offer.png);
    background-position: bottom, left;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 20px;
}



/* arrival section */
/* .arrival-text-item> img, button, h1{
   margin: 20px 0px;
} */